.Button {
  font-size: 1rem; 
  font-weight: bold; 
  align-self: center;
  border-radius: 10px; 
  border-color: #825343; 
  padding: 10px 20px; 
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
  background-color: #825343; 
  color: #ffffff; 
}

.Button:hover {
  opacity: 0.8;
  border-color: #5d5b53; 
  cursor: pointer;
}
  
.Button:hover:active {
  background-color: #5d5b53 !important; 
}

.Button:active {
  background-color: #5d5b53 !important; 
}

.Button:focus {
  background-color: #825343;
}
  
.Wide {
  padding: 10px 50px;
  width: 100%;
}