.Owner {
    font-size: 1.5rem;
    color: #333333;
    margin-right: .8rem;
  }
  
  .Date {
    color: #333333;
  }
  
  .commentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.moreDropdown {
    align-self: center;
}