.container {
    text-align: center;
    padding: 2rem;
    background-color: #F2E6D3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image {
    max-width: 20rem;
    max-height: 20rem;
  }
  
  .title {
    color: #333;
    font-size: 2rem;
    margin-top: 2rem;
  }
  
  .description {
    color: #333;
    margin-top: 1rem;
    font-size: 1rem;
  }
  
  .homeLink {
    margin-top: 2rem;
    color: #B07D28;
    text-decoration: none;
    font-weight: 500;
  }
  
  .homeLink:hover {
    text-decoration: underline;
  }
  