.Review {
    margin-top: 5rem;
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 65%;
    background-color:#F5F5F5;
}

.Media a {
    font-size: 4rem !important;
  }


.ReviewImage {
    max-width: 100%;
}

.Review .review-title.card-title.h5 {
    font-weight: 600 !important;
    font-size: 4rem !important;
}


.AuthorName {
    font-weight: 600;
}

.ISBN {
    font-size: 1rem !important;
}

.Content {
    font-size: 1rem !important;
}

.ReviewBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Heart, .HeartOutline {
    color: #e0245e;
    cursor: pointer;
    margin-right: 5px;
}

.HeartOutline:hover {
    color: #ff4b6e;
}

.ReviewBar .fa-heart {
    font-size: 4rem !important;
}

.ReviewBar .fa-comments {
    font-size: 4rem;
}

